@import "compass_twitter_bootstrap";

body {
	text-rendering: optimizelegibility;
}

a:hover {
	text-decoration: none;
}
.actions {
	width: 70px;
	text-align: center !important;
}

.add-block {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgb(126, 30, 12);
	color: #fff;
	margin: 0;
	h1 {
		font-size: 40px;
		margin-left: -40px;
		font-weight: normal;
	}
	.add {
		margin-top: 16px;
	}
}

.content {
	padding-top: 100px;
}



.table {
	caption {
		font-size: 30px;
		padding: 10px;
	}
}

footer {
	font-size: 18px;
}

.modal-about {
	display: none;
}